
/* Загальні стилі */
body{
  font-family: "Roboto", sans-serif;
}

/* Перша частина логотипу */
.web{
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196F3;
  }

  /* Друга частина логотипу */
.studio{
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

/* Посилання навігації */
nav{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121
  /* color: #2196F3;*/
} 

font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;

color: #2196F3;

a{
text-decoration: none;
}

li{
list-style: none;
}

/* Головний заголовок */
.first-title{
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
/* Блок - "Титул" */
.hero{
  background-color: #2F303A;
}

/* Кнопкa з головної сторінки */
.button{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
}
/* Кнопки з портфолио */
/* .button
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
 */


/* Другий заголовок */
.second-title{
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Приховування */
.visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} 

/* Третій заголовок */
.third-title{
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

/* Опис переваг */
.advantage{
font-family: 'Roboto';
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}

/* Блок - "команда" */
.team{
background-color: #F5F4FA;  
}

/* П.І.Б */
.name{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.7;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

/* Посади */
.position{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/* Назва проекту */
.project-name{
font-family: 'Roboto';
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}

/* Тип проекту */
.project-type{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}



